.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 130px;
  background-color: white;
  border-radius: 25px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
  transition: all 0.2s;
}

.skill-name {
  font-family: "JetBrains Mono", monospace;
  color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-size: 4ch;
  animation: color-change 17s infinite;
}
@keyframes color-change {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  50% {
    color: #23a6d5;
  }
  75% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}

@media only screen and (max-width: 900px) {
  .skill-container {
    width: 70vw;
  }
  .skill-name {
    font-size: 8vw;
  }
}
